/*
Creating an HTML5 enhanced responsive-ready contact form, with custom javascript feature detection
www.toddmotto.com
*/

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#000;
	background:#1e1e1e;
}
.wrapper {
	max-width:500px;
	width:95%;
	margin:0 auto;
	position:relative;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font-size: 14px;
}
#contact-form {
	width: 100%;
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:30px;
}
#contact-form h3 {
	color:#0048bf;
	display:block;
	font-size:24px;
	margin: 0;
	padding: 0;
}
#contact-form div.row, #contact-form label{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}
#contact-form h3:after, #contact-form h4:after{
	display: none;
}
#contact-form h3 .err{
	color: #ff5a00
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:16px;
}
#contact-form label span {
	color:#0048bf;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form select,
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"], button.calculate {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0048bf;
	background-image:linear-gradient(bottom, #434bee 0%, #0048bf 52%);
	background-image:-moz-linear-gradient(bottom, #434bee 0%, #0048bf 52%);
	background-image:-webkit-linear-gradient(bottom, #434bee 0%, #0048bf 52%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #0093ca 0%, #7800ff 52%);
	background-image:-moz-linear-gradient(bottom, #0093ca 0%, #7800ff 52%);
	background-image:-webkit-linear-gradient(bottom, #0093ca 0%, #7800ff 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
.mb15{
	margin-bottom: 15px;
}
.checkbox-label{
	cursor:pointer;
	display: block;
	overflow: hidden;
	clear: both;
}
.res{
	display: block;
	text-align: center;
	position: relative;
}
.backbutton{
	position: absolute;
	left: 0;
	top: 50px;
	display: none;
}
.err{
	color: #ff5a00;
}
#contact-form select.err, #contact-form  input.err{
	color:  #ff5a00; border-color:  #ff5a00;
}
#contact-form label input[type="checkbox"]{
	display: inline-block;
	float: left;
	margin:5px 5px 5px 0;
}
#contact-form select{word-wrap: break-word;      /* IE*/
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: pre-wrap;      /* other browsers */
  width:150px;
  display:inline-block;
 width: 100% !important; 
}
#contact-form select option, .optionWrap {
    white-space: normal;
    min-height: 30px;
    height: auto;
}
.selectboxit-container .selectboxit, .selectboxit-container .selectboxit-options {
  width: 600px; /* Width of the dropdown button */
  border-radius:0;
  max-height:240px;
}
.selectboxit-options .selectboxit-option .selectboxit-option-anchor {
    white-space: normal;
    min-height: 30px;
    height: auto;
}
.second-stepform{
	display: none;
}

.confirmwrap{
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
	color: 	#007300
}
.confirmwrap h2{
	font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.ageer{
	float: right;
	color: #f00;
	display: none;
	font-weight: 300;
	margin-bottom: 10px;
}
#resultinfo strong{
	margin-left: 5px; color: #000;
}
.backbutton{
	border: 1px solid #ddd;
	background: #fff;
	padding: 8px 15px;
	color: #000;
}